{% extends 'base.html' %}

{% block body %}
	<!--MAIN-->
	<!-- Bootstrap row -->
	<div class="container-fluid" style="padding-top: 70px">
	    <div class="row">
	    	<div class="col-3">
	    		{% include 'sidebar.html' %}
	    	</div>
			<div class="col-md-9">
		        <h3>
		            Hi, {{ current_user.first_name }}!
		            <small class="text-muted">Welcome</small>
		        </h3>
		        <div class="card">
		            <h4 class="card-header">Dashboard</h4>
		            <div class="card-body">
		            	<div class = "container-fluid">
		            		<div class="row">
		            		<div class="col-4">	
		            			<div class="card">
		            				<h6 class="card-header">Profile</h6>
		            				<div class="card-body">
		            					<ul class="list-group">
			            					<a class = "list-group-item" href="#"><i class="fas fa-eye fa-fw mr-3"></i>View Profile</a>
		            					</ul>
		            				</div>
		            			</div>
		            		</div>
		            		<div class="col-4">	
		            			<div class="card">
		            				<h6 class="card-header">Reports</h6>
		            				<div class="card-body">
		            					<ul class="list-group">
		            						{% if not current_user.is_admin %}
			            					<a class = "list-group-item" href="{{ url_for('add_report') }}"><i class="fas fa-pencil-alt fa-fw mr-3"></i>Write Report</a>
			            					{% endif %}
			            					<a class = "list-group-item" href="{{url_for('list_reports')}}"><i class="fas fa-file-alt fa-fw mr-3"></i>View Reports</a>
		            					</ul>
		            				</div>
		            			</div>
		            		</div>
		            		<div class="col-4">	</div>
		            		</div>
		            		<br>
		            		<div class="row">
		            			{% if current_user.is_admin %}
			            		<div class="col-4">	
			            			<div class="card">
			            				<h6 class="card-header">Departments</h6>
			            				<div class="card-body">
			            					<ul class="list-group">
				            					<a class = "list-group-item" href="{{ url_for('list_departments') }}"><i class="fas fa-file-alt fa-fw mr-3"></i>Departments<span class="badge badge-pill badge-primary ml-2">0</span></a>
			            					</ul>
			            				</div>
			            			</div>
			            		</div>
			            		<div class="col-4">	
			            			<div class="card">
			            				<h6 class="card-header">Roles</h6>
			            				<div class="card-body">
			            					<ul class="list-group">
				            					<a class = "list-group-item" href="{{url_for('list_roles')}}"><i class="fas fa-file-alt fa-fw mr-3"></i>Roles<span class="badge badge-pill badge-primary ml-2">0</span></a>
			            					</ul>
			            				</div>
			            			</div>
			            		</div>
			            		<div class="col-4">	
			            			<div class="card">
			            				<h6 class="card-header">Users</h6>
			            				<div class="card-body">
			            					<ul class="list-group">
				            					<a class = "list-group-item" href="{{url_for('list_users')}}"><i class="fas fa-file-alt fa-fw mr-3"></i>Users<span class="badge badge-pill badge-primary ml-2">0</span></a>
			            					</ul>
			            				</div>
			            			</div>
			            		</div>
			            		{% endif %}
		            		</div>
		            		<div>
			                {% for report in reports %}
							<div><p><a href="#">{{ report.author.name }}</a> sent: <b><a href="#">{{ report.report_title }}</a></b></p></div>
							{% endfor %}
							</div>
							
		            	</div>
		            </div>
		        </div>   
		    </div>
		</div>
	</div>
{% endblock %}