{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_department %}
        Add Role
    {% else %}
        Edit Role
    {% endif %}
{% endblock %}
{% block body %}
<div class="container-fluid" style="padding-top: 70px">
    <div class="row">
        <div class="col-3">
          {% include 'sidebar.html' %}
        </div>
        <div class="col-md-9">
            <div class="card">
                {% if add_role %}
                    <h4 class="card-header">Add Role</h4>
                {% else %}
                    <h4 class="card-header">Edit Role</h4>
                {% endif %}
                <div class="card-body">
                {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}